{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <title>Teensconnectafrica</title>

</head>
<body>
             <img src="{% static 'images/teens connect africa.png' %}" alt="Teens connect" id="logo" data-height-percentage="54" data-actual-width="1080" data-actual-height="720" width="200" height="120">
<h2>Thanks for subscribing to our Newsletter</h2>

<h4> We have a reward for your, an intersting books about teenegers by Alero Mogbeyiteren Lacherie</h4>

<h5> Please Click the button below to Subscribe to download</h5>

<a href=""><button class="btn btn-lg btn-primary"></button>Download</a>

</body>
</html>